body {
	font-family: "acumin-pro",sans-serif;
	font-size: 18px;
	color: #88847F;
	line-height: 1.44;
	margin:0;
}


.title {
	font-size: 48px;
	line-height: 1.2;
	font-family: 'Playfair Display', serif;
	color: #2D2825;
	font-weight: normal;
}

.title--centre{
	text-align: center;
}

.title--quote{
	font-size: 30px;
	font-style: italic;
	color: rgba(46,41,38,.8);
	font-weight: normal;
}
.title--section{
	display: block;
	position: relative;
	padding-bottom: 25px;
}
.title--section:after{
	content:"";
	display: block;
	width: 4%;
	height: 2px;
	position: absolute;
	left: 50%;
	bottom: 5px;
	transform: translateX(-50%);
	background-image: url(img/bg-nav.png);
	background-size: 8%;
}

.title--small{
	font-size: 30px;
}

.titlesans {
	font-family: "acumin-pro",sans-serif;
	font-size: 24px;
	color: #2D2825;
	font-weight: 700;
	line-height: 1.2;
	text-decoration: none;
}


.titlesans--small {
	font-size: 18px;
	margin-bottom: 22px;
}

.titlesans--up {
	font-size: 14px;
	color: #FFF;
	text-transform: uppercase;
}

.p--light{
	font-weight: 300;
	color: #2D2825;
}

.hide{
	display: none;
}

.title a, .titlesans a{
	text-decoration: none;
	color: #2D2825;
}


/*Les liens*/

.logo a {
	background-image: url(img/logo-hardgraft.png);
	background-repeat: no-repeat;
	width: 77px;
	height: 50px;
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.link {
	font-size: 12px;
	color: #2D2825;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	list-style: none;
}

.link--arrow {
	border-bottom: 2px #2D2825 solid;
	padding: 8px 0;
}

.link--arrow:before{
	content: "> ";
}

.link--more {
	border: 1px solid #2D2825;
	padding:19px 20px 20px 48px;
	border-radius: 5px;
	background: url(img/seeallarrow.png) no-repeat;
	background-position: 20px center;
}


/*image*/
.section{
}

.section--banner{
	background: url(img/iphonecase-big.png) no-repeat right center,
	url(img/bg-banner.png);
}


.section--main{
	background: url(img/bg-glass.png) no-repeat left top,
	url(img/bg-bag.png) no-repeat right bottom #FAF8F6;
}

.section--incarnation{
	background: url(img/bg-glass2.png) no-repeat left bottom,
	url(img/bg-men.png) no-repeat right 290px,
	url(img/bg-incarnation.png) no-repeat center top;
	background-size: auto, auto, 100% 290px;
	padding-top: 290px;
}

.incarnation{
	background: url(img/icon-designer.png) no-repeat center top;
	padding-top: 85px;
}


.incarnation--details{
	background-image: url(img/icon-details.png);
}

.incarnation--craft{
	background-image: url(img/icon-leather.png);
}


/*les listes*/

.nav{
	padding: 0;
	margin: 0;
	list-style: none;
}

.nav__el{
	float: left;
	margin-left: 40px;


}
.nav__el a{
	font-size: 14px;
	text-transform:uppercase;
	font-weight: 700;
	color: #2D2825;
	text-decoration:none;
	display: inline-block;
	height: 80px;
	line-height: 80px;
	opacity: .4;
}
.nav__el--actif a, .nav__el a:hover, .nav__el a:focus{
	opacity: 1;
	background: url(img/bg-nav.png)repeat-x left 60px;
	outline:0;
}
.nav__el--shop {
    padding-top: 22px;
}

.cart{
    display: inline-block;
    border: none;
	border-radius: 4px;
	height: 40px;
	line-height: 40px;
	padding: 0 14px 0 41px; 
    background: url(img/cart.png) no-repeat center left 15px;
	background-color: #D9C6AC;
	font-weight: bold;
	font-size: 14px;
	text-transform:uppercase;
	color: #827667;
}


/*layout*/

header{
	position:relative;
	height: 80px;
}

.logo{
	position: absolute;
	top: 15px;
	left: 0;
	margin: 0;
}


.nav{
	float: right;
}

.container{
	width: 1200px;
	margin: 0 auto;
	display: table;

}
.container--banner{
	padding-right: 620px;
	width: 580px;

}
.section--banner{
	height: 260px;
	padding: 160px 0 177px;
}
.section--banner .title{
	position: relative;
}
.section--banner .title:after{
	content:"";
	display: block;
	width: 10%;
	height: 2px;
	position: absolute;
	left: 0;
	bottom: -20px;
	background-image: url(img/bg-nav.png);
}

.title--quote{
	width: 450px;
	margin: 35px auto;
	position: relative;
}
	.title--quote:before{
		content: "“";
		font-size: 80px;
		color: #EAE9E9;
		position: absolute;
		top: -21px;
		left: -40px;
	}

	.title--quote:after{
		content: "”";
		font-size: 80px;
		color: #EAE9E9;
		right: 10px;
		top: 30px;
		position: absolute;
	}

.product{
	margin: 0;
	padding: 0;
	list-style: none;

}
.product__el{
	width: 374px;
	float: left;
	margin: 0 39px 40px 0;
	box-shadow: 0px 10px 20px rgba(35,35,35,.04)
}
.product__el--big{
	width: 580px;
}


.product__el:nth-child(3n+2){
	margin-right: 0;
}
.section--main{
	padding: 100px 0 80px;
}
.product__info{
	background-color: #fff;
	padding: 29px 30px 33px 32px;
}
.titlesans__product {
	margin-top: 0;
	display: inline-block;
	margin-bottom: 18px;
}
.product__img{
	display: block;
}



.center {
	text-align: center;
}

.incarnation {
	float: left;
	width: 374px;
	margin: 0 39px 40px 0;
}

.incarnation:nth-child(4) {
	margin-right: 0;
}
/*.incarnation:nth-of-type(3) {
	margin-right: 0;
	background-color: red;
}*/
.section--incarnation{
	padding-bottom: 80px;
}
.col3 {
	/* 4 col de la grille */
	width: 374px;
	margin: 0 39px 40px 0;
	float: left;
}
.col4 {
	/* 3 col de la grille */
	width: 270px;
	float: left;
}
.fr { float: right; }
.fl { float: left; }

.credit {
	clear: both;
	height: 37px;
	line-height: 37px;
}

.btn{
	border: none;
	padding: 0;
	background: none;
	cursor: pointer;
}
.btn__whishlist{
	color: #ED1433;
	font-weight: bold;
	text-transform: uppercase;
	background: url(img/icon-heart-full.png)
	left center no-repeat;
	padding-left: 28px;
	height: 14px;
	display: block;
}
.btn__whishlist--off{
	color: grey;
	background: url(img/icon-heart.png)
	left center no-repeat;
}



/*PRODUCTS*/
.add__group {
	float: right;
	text-align: right;
}
.add__group .btn__ad {
	background-color: #D9C6AC;
	border: 1px solid #D9C6AC;
	font-weight: bold;
    padding: 8px;
	margin-bottom: 15px;
	border-radius: 3px;

}
.add__group .price {
	font-size: 12px;
	opacity: .7;
	display: table;
}


/*FOOTER*/
.section--footer{
	background: url(img/bg-footer.png)
	no-repeat #363433 70% bottom;
	font-family: 'Playfair Display', serif;
	color: #fff;
	padding-top: 50px;
}
.section--footer h2 {
	margin-bottom: 25px;
}
.section--footer a {
	text-decoration: none;
	color: #fff;
}
.section--footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
	columns: 2;
}
.section--footer li {
	margin-bottom: 7px;
}
.footer__group {
	float: left;
	width: 30%;
}
.footer__contact {
	width: calc(40% - 60px);
	margin: 0 30px;
}
.footer__contact input {
	float: left;
	line-height: 20px;
}
.footer__contact input[type="text"] {
	padding: 15px;
	background: rgba(255,255,255,.15);
	border: none;
	border: 1px solid rgba(255,255,255,.6);
	font-family: 'Playfair Display', serif;
	font-size: 15px;
	font-style: italic;
	color: #fff;
	min-width: 250px;
}
.footer__contact input[type="submit"] {
	padding: 15px;
	background: rgba(255,255,255,.15);
	color: #fff;
	border: 1px solid rgba(255,255,255,.6);
	border-left: none;
	font-family: 'acumin pro', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
}

.credit{
	background-color: #141817;
	background-color: rgba(26,24,23,.4);
	margin-top: 50px;
}
.footer__el{
	display: inline-block;
	width: 100%;
}
